<article class="archive-view feature-small {{classes}}">
	<figure>
		<a href="#">
			<div class="image-wrapper">
				<img src="{{image}}" alt="article-image">
			</div>
		</a>
	</figure>
	<div class="article-info">
		<header>
			{{#if sponsored}}
			<span class="sponsored-flag">Sponsored</span>
			{{/if}}

			<h5 class="entry-title">
				<a href="#">
					{{title}}
				</a>
			</h5>

			{{#if time}}
			<time class="{{time.type}}">{{{time.value}}}</time>
			{{/if}}

			{{#if comments}}
			<div class="disqus-comment-count">
				<a><span>{{comments}}</span></a>
			</div>
			{{/if}}
		</header>
	</div>
</article>
